<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<style>
  :root {
    --font-main: 'Lora', Georgia, serif;
    --font-secondary: 'Lora', Georgia, serif;
  }

  code,
  .highlight,
  .code {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
  }

  pre code {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
  }

  .highlight pre,
  pre.code {
    padding-left: 1em;
    padding-right: 1em;
  }
</style>
